:root {
  --yellow-svg: invert(99%) sepia(65%) saturate(2575%) hue-rotate(312deg)
    brightness(102%) contrast(101%);
  --white-svg: invert(100%) sepia(41%) saturate(0%) hue-rotate(359deg)
    brightness(115%) contrast(101%);
  --black-svg: invert(0%) sepia(0%) saturate(7500%) hue-rotate(141deg)
    brightness(102%) contrast(105%);
  --ct-white-main: #f5f5f5;
  --ct-black-main: #121212;
  --ct-black-secondary: #252525;
  --ct-yellow: #ffc75e;
}

.app-dark {
  background-color: var(--ct-black-main) !important;
}

.app-dark a,
.app-dark #search-button,
.app-dark #search-button:hover {
  color: var(--ct-yellow);
}

.app-dark .menu-icon {
  filter: var(--yellow-svg);
}

.app-dark .menu-button:hover .menu-icon {
  filter: var(--black-svg);
}

.app-dark .menu-button,
.app-dark #search-button,
.app-dark .floating-button {
  border-color: var(--ct-yellow);
}

.app-dark .menu-button:active:hover,
.app-dark #search-button:active:hover,
.app-dark .floating-button:hover {
  border-color: aqua;
}

.app-dark a:hover,
.app-dark .settings-action:hover,
.app-dark .settings-link:hover {
  color: aqua;
}

.app-dark .menu-button:hover,
.app-dark .floating-button {
  background-color: var(--ct-yellow);
}

.app-dark .task-item {
  background-color: var(--ct-black-secondary);
}

.app-dark #settings-list {
  background-color: var(--ct-black-secondary);
  color: var(--ct-white-main);
}

.app-dark .settings-link,
.app-dark .settings-title,
.app-dark .settings-action {
  color: var(--ct-yellow);
}
